@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-row-center {
    @apply flex items-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 h-12;
  }
  .btn-stretch {
    @apply w-full;
  }
  .btn-primary {
    @apply bg-primary text-background;
  }
  .btn-outline {
    @apply border border-current;
  }
  .divider {
    @apply w-9 border-primary;
  }
}
